<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
autoReload="true"
internalLogLevel="Trace"
internalLogFile="C:\Users\Admin\Source\Repos\BE_092024\Solution_BE_092024\BE_092024_API\Logs\internallog.txt">
	<targets>
		<target name="logfile" xsi:type="File"
		fileName="C:/Users/Admin/Source/Repos/BE_092024/Solution_BE_092024/BE_092024_API/Logs/${shortdate}_logfile.txt"
		layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>
