@{
	ViewData["Title"] = "Home Page";
	var list = new List<DemoModel>();
	list.Add(new DemoModel{ Name="LOP"});
	list.Add(new DemoModel { Name = "BACKEND NETCORE" });
}


@* @Html.Partial("~/Views/Home/ListDemoPartialViews.cshtml", list) *@

<div class="form-group">
	<label for="email">Tên sản phẩm :</label>
	<input type="text" class="form-control" id="txtProductName" style="width:50%">
</div>
<div class="form-group">
	<label for="pwd">Số lượng:</label>
	<input type="number" class="form-control" id="txtProductQuantity" style="width:50%">
</div>

<button type="button" id="btnSave" class="btn btn-success">Lưu</button>

<div class="text-center">
	<div id="div_ListProductPartial"></div>
</div>
@section Scripts {

	<script>
		$(document).ready(function(){

			// khi cái view load xong thì gọi hàm để load partial vào
			  LoadPartialView();

			 $("#btnSave").click(function(){
				 ProductInsert();
			 });
		});

		function LoadPartialView(){

			// xử lý code ajax
			
			  $.ajax({
					type: 'GET',
					url: "/Home/ListProductPartialViews",
					data: {},
					dataType: "html",
					// dataType:"json",
					success: function (result) {
						// gắn htnml nhận được vào thẻ div bên trên
						  $("#div_ListProductPartial").html(result);
					},
					error(rs) {
						  console.log(JSON.stringify(result));
					}
				});

		}


		function ProductInsert(){
			var input_data ={

				ProductName:$("#txtProductName").val(),
				Quantity:$("#txtProductQuantity").val(),
			};
			 $.ajax({
					type: 'POST',
					url: "/Home/ProductInsert",
					data: input_data,
					//dataType: "html",
					 dataType:"json",
					success: function (result) {
						// gắn htnml nhận được vào thẻ div bên trên
						  alert(result.responseMsg);
					},
					error(rs) {
						  console.log(JSON.stringify(result));
					}
				});
		}
	</script>
}